
    * {
        box-sizing: border-box;
    }
    
    
    body{
        Background: #777;
        Content: #ebebeb;
        width: 960px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 18px;
        margin: auto;
        position: relative;
        top: 15px;
        text-align: center;
    }

    .content{
        background: lightgray;
        padding: 50px;
    }

    .nav{
        background: lightgray;
        padding: 50px;
    }

    .container{
        background: lightgray;
        width: 495px;;
        height: 300px;
    }

    .section{
        padding: 40px;

    }

    #article{
        padding: 40px;
        background: #777;
        content: #ebebeb;
        width: 400px;
    }

    .flex-container{
        display: flex;
        justify-content: center;
        padding: 10px;
        background: lightgray;
        font-weight: bold;
        color: #777;
    }

    p{
        padding: 10px;
        background: lightgray;

    }

    .aside{
        background: lightgray;
        width: 450px;
        height: 300px;
        position: relative;
        left: 510px;
        top: -320px;
        padding: 40px;
    }

    #footer{
        background: lightgray;
        position: relative;
        bottom: 300px;
        padding: 50px;
     }